{% set iconUrl = view.getAssetManager().getPublishedUrl('@superbig/vipps/assetbundles/vippsexpress/dist', true) ~ '/img/hurtigkasse.svg' %}
{% set expressButtonId = 'jsVippsExpressButton' ~ random(2000, 9999) %}
{% set attributes = {
    id: expressButtonId,
    class: 'vipps-express-checkout' ~ (class ? ' ' ~ class : ''),
    type: 'button',
    formUrl: siteUrl('vipps/express/checkout'),
    formId: expressButtonId ~ 'Form',
} %}
{% set params = {
    id: purchasable ? purchasable.id : null,
    qty: config.quantity ?? config.qty ?? 1,
    note: config.note ?? null,
    options: config.options ?? [],
} %}

<button class="vipps-express-checkout{{ class ? ' ' ~ class : '' }}" type="button" id="{{ expressButtonId }}">
    <img alt="{{ title }}" border=0 src="{{ iconUrl }}">
</button>

{% js %}
    (function() {
        var formUrl = '{{ siteUrl('vipps/express/checkout') }}';
        var formId = '{{ expressButtonId ~ 'Form' }}';
        var $button = document.getElementById('{{ expressButtonId }}');
        var clickHandler = (e) => {
        const $targetButton = e.currentTarget;
        const $form = document.createElement('div');
        $form.innerHTML = `
        <form name="{{ expressButtonId ~ 'Form' }}" method="post" action="{{ siteUrl('vipps/express/checkout') }}">
            {{ csrfInput() }}
            {% if purchasable %}
                {% for key,value in params %}
                    {% if key == 'options' %}
                        {% for optionKey, optionValue in value %}
                            <input type="hidden" name="purchasables[1][{{ key }}][{{ optionKey }}]" value="{{ optionValue }}">
                        {% endfor %}
                    {% else %}
                        {% if value %}
                            <input type="hidden" name="purchasables[1][{{ key }}]" value="{{ value }}">
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </form>
        `;

        document.body.appendChild($form);
        document[formId].submit();
        }

        $button.addEventListener('click', clickHandler);
    })();
{% endjs %}